* {
  margin: 0;
}

body,
html,
#root,
.App {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: 'GT Pressura Mono';
  background-image: linear-gradient(
    to bottom,
    #1a1b13,
    #2d2e27,
    #294855,
    #3c7b96,
    #3188a9,
    #34c8ca
  );
  /* background-image: linear-gradient(#ed0098, #feb300); */
  /* background-color: #000; */
  background-attachment: fixed;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  text-align: center;
  // @media screen and (min-width: $medium) {
  //   justify-content: flex-start;
  // }
}

::selection {
  background-color: red;
}