@import './Variables';

.Computer {
  width: 300px;
  position: relative;
  z-index: 20;
  transition: all $transition-speed;
  @media screen and (min-width: $medium) {
    width: 600px;
  }
  @media screen and (min-width: $large) {
    width: 900px;
  }

  &-screen {
    width: 140px;
    height: 103px;
    position: absolute;
    top: 53px;
    left: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px 3px 5px 5px;
    overflow: hidden;
    transition: all $transition-speed;
    // border: 1px solid red;

    @media screen and (min-width: $medium) {
      top: 76px;
      left: 155px;
      width: 277px;
      height: 206px;
      border-radius: 7px 7px 11px 11px;
      transform: perspective(50em) rotateX(-5deg);
    }

    @media screen and (min-width: $large) {
      top: 100px;
      left: 233px;
      width: 415px;
      height: 310px;
      border-radius: 10px 10px 12px 12px;
      transform: perspective(50em) rotateX(-5deg);
    }
  }

  &-image {
    width: 100%;
  }
  &-glitch {
    position: relative;
    z-index: 110;
    animation: flicker 4s linear both;
  }
}

.Player {
  width: 140px;
  height: 104px;
  position: absolute;
  z-index: 100;
  transition: all $transition-speed;

  @media screen and (min-width: $medium) {
    width: 282px;
    height: 206px;
  }

  @media screen and (min-width: $large) {
    width: 421px;
    height: 310px;
  }
}

// .Animation-flicker {
//   animation: flicker 4s linear both;
// }

@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
