.marginVlg {
  margin: 60px 0;
}

.marginBlg {
  margin-bottom: 60px;
}

.marginTxsm {
  margin-top: 5px;
}

.marginTsm {
  margin-top: 20px;
}

.marginTmd {
  margin-top: 30px;
}

.marginTlg {
  margin-top: 60px;
}