@import './Variables';

.marginBlg {
  margin-bottom: 30px;
  @media screen and (min-width: $large) {
    margin-bottom: 60px;
  }
}

.marginTmd {
  margin-top: 30px;
}

.marginTlg {
  margin-top: 30px;
  @media screen and (min-width: $large) {
    margin-top: 60px;
  }
}